<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title bg-transparent text-center">Mande uma mensagem para @DevCurumin</h1>
        <%= form_with model: @donate do |form| %>
          <div class="form-group">
            <%= form.label :nickname %>
            <%= form.text_field :nickname , class: "form-control", placeholder: "Quem é você?"%>
          </div>
          <div class="form-group">
            <%= form.label :message, "Mensagem" %>
            <%= form.text_area :message , class: "form-control", placeholder: "Sua mensagem para stream"%>
          </div>
          <div class="form-group">
            <%= form.label :value, "Valor" %>
            <%= form.number_field :value , class: "form-control money-input", placeholder: "R$", step: "0.01", min: "0"%>
          </div>
          <%= form.submit "Donate", class: "btn btn-success"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body ">
        <h4 class="text-center bg-transparent">Top donates</h4>
      </div>
    </div>
  </div>
</div>
