<div class="alert">
  <p><strong><%= donate.nickname %></strong> fortaleceu com R$<strong><%= donate.value %></strong>.</p>
  <audio id="alert-audio-<%= donate.id %>"  preload="auto" autoplay="true">
    <source src="<%= file_path_audio %>" type="audio/mpeg">
  </audio>
</div>
<style>
  .alert {
    background-color: yellow;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
  }
</style>
<script>
  document.addEventListener('turbo:load', () => {
    const audioElement = document.getElementById('alert-audio-<%= donate.id %>');
    if (audioElement) {
      console.log("reproduzindo audio <%= file_path_audio %>");
      audioElement.play();
    }
  });
</script>
